* {
    font-family: 'League Spartan', sans-serif;
}

.hero {
    background-image: url("../img/mobile-image-hero-1.jpg");
    background-size: cover;
    height: 60vh;
    position: relative;
    padding-top: 2rem;
}

nav {
    position: absolute;
    top: 3rem;
    left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

nav ul {
    display: none;
    gap: 3rem;
    color: white;
}

.discover {
    display: flex;
    flex-direction: column;
    padding: 3rem 2.5rem;
    gap: 1.5rem;
    position: relative;
}

.discover a {
    display: flex;
    gap: 2rem;
}

.btns {
    position: absolute;
    top: -4.5rem;
    right: 0;
    display: flex;
}

#btn1,
#btn2 {
    padding: 1.5rem;
    background-color: black;
    color: white;
    font-size: 2rem;
    border: none;
}

.about {
    display: flex;
    flex-direction: column;
    padding: 3rem 2.5rem;
    gap: 1.5rem;
    /* font-size: smaller */
    
}

footer .img1{
    background-image: url("../img/image-about-dark.jpg");
    background-size: cover;
    height: 30vh;
}

footer .img2{
    background-image: url("../img/image-about-light.jpg");
    background-size: cover;
    height: 30vh;
}

footer{
    height: 40vh;
}
/* footer img {
    width: 100%;
} */

/* BURGER */

#burger-check {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
}


footer .about{
        /* height: 100%; */
        /* width: 45vw; */
    }








@media screen and (min-width: 576px) {
    nav ul {
        display: flex;
        width: 80%;
    }

    .burger {
        display: none;
    }

    .hero {
        background-image: url("../img/desktop-image-hero-1.jpg");
      }

    header {
        flex-direction: row;
        /* height: 70vh; */
    }

    .btns{
        /* top: 81%; */
        /* top: 0; */
        /* left: 0; */
        /* bottom: 0; */

        /* top: 87.1%; */
        /* left: 0; */
        /* position: relative;
        order: 1;
        top: 0; */
    }
    .hero{
        width: 70%;
    }

    .discover{
        width: 50%;
        justify-content: center;
    }
    footer{
        display: flex;
        /* outline: 2px red solid; */
        /* height: 30vh; */
        justify-content: center;
        
    }
    
    footer .about{
        /* width: 100%; */
    }

    footer .img1, footer .img2{
        /* outline: 2px blue solid; */
        /* height: 35vh; */
        width: 100%;
    }

}
